{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<title>Ascensores</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="{% static 'imagenes/icono.ico' %}" />
</head>
<body>

<!-- MENU -->

<div class="topnav" id="myTopnav">
  <a href="{% url 'pagina_index' %}" class="active">INICIO</a>
  <a href="{% url 'pagina_login' %}">INICIAR SESION</a>
  <a href="{% url 'pagina_ordenes' %}">ORDENES</a>
  <a href="{% url 'pagina_clientes' %}">CLIENTES</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


<!-- FIN MENU -->

<!-- Header -->
<div class="banner">
	    <img src="{% static 'imagenes/banner.jpg' %}" alt="" class="responsive">
	    <div class="contenedor">
	        <h2 class="banner_titulo">Mantención Ascensores</h2>
	        <p class="banner_txt">La mejor empresa en el rubro</p>
	    </div>
</div>
<!-- CONTENIDO -->
  <div class="container">
  <img src="{% static 'imagenes/imagen1.jpg' %}" alt="">
  <div class="descripcion">
      <h3 class="titulo">Nuestros servicios</h3>
      <div class="texto">-Instalación
                         -Mantención
                         -Reparación
                         -Emergencias
                         -Modernización
                         -Proyectos</div>
  </div> 
</div>   

<div class="container">
  <img src="{% static 'imagenes/imagen2.jpg' %}" alt="">
  <div class="descripcion">
      <h3 class="titulo">Profesionales con más de 12 años de experiencia</h3>
      <div class="texto">-Confianza -Seriedad -Transparencia -Calidad</div>
  </div> 
</div> 

<div class="container">
  <img src="{% static 'imagenes/imagen3.jpg' %}" alt="">
  <div class="descripcion">
      <h3 class="titulo">Mantenimiento Preventivo</h3>
      <div class="texto">Ofrecemos un servicio de mantención preventivo y riguroso, el cual nos permite garantizar el óptimo funcionamiento de nuestros equipos</div>
  </div> 
</div> 

<div class="container">
  <img src="{% static 'imagenes/imagen4.jpg' %}" alt="">
  <div class="descripcion">
      <h3 class="titulo">Asistencia 24/7</h3>
      <div class="texto">Una de las características que nos destaca entre otros proveedores, es nuestra asistencia técnica los 365 días del año.</div>
  </div> 
</div>

<!-- Footer -->
<div class="footer">
    <h3>AV-AS-IJ</h3>
    <h4>Analista Programador Computacional 001D</h4>
</div>

</body>
</html>